{% extends 'base.html' %}
{% block body %}
<style>
    #skill1 , #skill2 , #skill3{
        /* background-image: url("/static/background.jpg"); */
       /* height: 800px; */
       width: 400px;
        margin: 40px;
        padding: 20px;
        color: white;
        display: inline-block;
        /* background-size: cover; */
        border-radius: 40px;
        
    }
    /* .skills-container {
    display: flex;
    justify-content: space-between;
    
} */
</style>
    <center><h1 style="color: white;">My Skills</h1></center>
    <section id="skill1">
        <center>
            <h2>Programming </h2>
        </center>
        <ul>
            <h4>Python</h4>
            <h6><i>Expert</i></h6>
            <p>Extensive Python expertise in extracting actionable insights from complex datasets, building predictive models, and developing robust web applications.</p>
        </ul>
        <ul>
            <h4>HTML</h4>
            <h6><i>advanced</i></h6>
            <p>Expert in crafting well-structured and semantically rich HTML code to create the fundamental framework of visually appealing and accessible web pages.</p>
        </ul>
        <ul>
            <h4>CSS</h4>
            <h6><i>advanced</i></h6>
            <p>Masterful application of CSS to create visually stunning and responsive websites, ensure better user experience.</p>
        </ul>
        <ul>
            <h4>JavaScript</h4>
            <h6><i>Profficient</i></h6>
            <p>Skilled in JavaScript for developing dynamic and interactive web applications.</p>
        </ul>
        <ul>
            <h4>C </h4>
            <h6><i>Profficient</i></h6>
            <p>Solid foundation in C programming, proficient in system-level programming and algorithm implementation.</p>
        </ul>
    </section>
    
    <section id="skill2">
        <center>
            <h2>Technical </h2>
        </center>
        <ul>
            <h4>Artificial Intelligence</h4>
            <h6><i>advanced</i></h6>
            <p>Proficient in applying AI techniques for building intelligent systems, with expertise in machine learning & deep learning.</p>
        </ul>
        <ul>
            <h4>Machine Learning</h4>
            <h6><i>advanced</i></h6>
            <p>Proficient in developing and deploying machine learning models for predictive analytics and data-driven decision-making.</p>
        </ul>
        <ul>
            <h4>Deep Learning</h4>
            <h6><i>advanced</i></h6>
            <p>Possessing a deep understanding of neural network architectures, I excel in building, training, and optimizing deep learning models to drive innovative solutions.</p>
        </ul>
        <ul>
            <h4>Data analysis</h4>
            <h6><i>advanced</i></h6>
            <p>Skilled in extracting actionable insights from complex datasets through advanced statistical and data visualization techniques.</p>
        </ul>
        <ul>
            <h4>App Development</h4>
            <h6><i>advanced</i></h6>
            <p>Proficient in Flutter and Dart for crafting cross-platform mobile applications with exceptional user interfaces.</p>
        </ul>
    
    </section>
    
    <section id="skill3">
        <center>
            <h2>Soft Skills</h2>
    
        </center>
        <ul>
            <h4>Teamwork</h4>
            <h6><i>advanced</i></h6>
            <p>Possessing strong interpersonal skills to foster teamwork and build consensus within diverse groups, contributing to collaborative work environment to achieve common objectives.</p>
        </ul>
        <ul>
            <h4>Discipline</h4>
            <h6><i>advanced</i></h6>
            <p>Cultivated strong self-discipline and time management through 3 years of rigorous NCC training.</p>
        </ul>
        <ul>
            <h4>Communication</h4>
            <h6><i>advanced</i></h6>
            <p>Possess strong verbal and written communication skills with the ability to adapt to diverse audiences.</p>
        </ul>
        <ul>
            <h4>AI Proficiency</h4>
            <h6><i>advanced</i></h6>
            <p>Proficient in leveraging AI tools and crafting effective prompts to optimize problem-solving and enhance productivity.</p>
        </ul>
        <ul>
            <h4>Leadership</h4>
            <h6><i>advanced</i></h6>
            <p>Developed strong leadership acumen through 3 years of NCC, excelling in team building and strategic planning.</p>
        </ul>
    
    </section>


{% endblock body %}